body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(221, 240, 246);
  }
  
  .qr-Code {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
  }
  
  .card {
    background-color: white;
    border-radius: 1em;
    padding: 30px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  #qrcode {
    width: 250px;
    height: 250px;
    border-radius: 1em;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  p {
    line-height: 1.6;
    color: hsl(217, 19%, 35%);
  }
  
  .attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 20px;
  }
  
  .attribution a {
    color: hsl(228, 45%, 44%);
  }